.padding-0{
    padding-right:0;
    padding-left:0;
}
.wrapper {
    display: flex;
    margin-top:10%;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    height: 100vh;
 
	overflow: auto;
	cursor: pointer;
	padding: 10px;
	font-size: 1.1em;
	display: block;
	margin-left: 5px;
	position: fixed;
	margin-top: 2%;
}
ul li a {
	padding: 10px;
	font-size: 1.1em;
	display: block;
	margin-left: 5px;
	font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;

}
a:hover {
	background-color: #d4d4c6;
}