<div class="container py-3">
    <div class="row">
        <div class="col-md-6 col-lg-4 mx-auto">
                <div class="card card-body">
                    <h3 class="text-center mb-4">Change Password</h3>
                  
                    <fieldset>
                       
                        <div class="form-group has-success">
                            <input class="form-control input-lg" placeholder="Password" name="user.password" value="" type="password" ng-model="user.password" id="password">
                            <div class="showerror"<span id="error"></span></div>
                        </div>
                   
                        
                        
                        <button class="btn btn-lg btn-primary btn-block"  type="submit"  ng-click="changepassword()">Change password</button>
                        <a ui-sref='login'>Click here to login</a>
                    </fieldset>
                </div>
        </div>
    </div>
</div>