<div class="create-note container">


   
    <p ng-bind-html="note.ownername"><span>Owner</span></p>
    <div ng-repeat="user in note.collab">
            <div ng-if="user.username!=nameofuser">
                <p ng-bind-html="user.username"></p>   
                <input type="button" value="delete" ng-click="deleteCollaborator(note,user)">
            </div>
        </div>






    <input type="textbox" contenteditable="true" class="description" style="width: 80%; outline: none" aria-multiline="true"
        contentEditable="true" id="editdescription " ng-model="collabuser.username">

    <div class="modal-footer row">

        <div class="col-md-8 "></div>
        <input type="button" ng-click="addCollaborator(note); " value="submit" class="noteenter">

        </footer>
    </div>
</div>
