<div class="create-note container animated slideInUp">


        <div class=row>
                <div class="col-sm-1"></div>
    <p ng-bind-html="note.ownername"><span>Owner</span></p>
        </div>
    <div ng-repeat="user in note.collab">
            <div class=row>
                    <div class="col-sm-1"></div>
                <p ng-bind-html="user.username"></p>  
                <div class="col-sm-4"></div> 
                <img src="{{cancelurl}}" value="delete" ng-click="deleteCollaborator(note,user)">
            </div>
        </div>






    <input type="textbox"  style="width: 100%; outline: none" placeholder="enter collaborator"
       ng-model="collabuser.username">

    <div class="modal-footer row">

        <div class="col-md-8 "></div>
        <input type="button" ng-click="addCollaborator(note); " value="submit" class="noteenter">

        </footer>
    </div>
</div>
