<div class="create-note container">
  <div class="row noteadd" style="margin-left:5%">
    <div role="textbox" contenteditable="true" ng-model="note.title" ng-bind-html="note.title" class="title" style="width: 80%; outline: none"
      aria-multiline="true" contentEditable="true" id="edittitle">

    </div>
  </div>
  <hr></hr>
  <div class="row noteadd" style="margin-left:5%">
    <div role="textbox" contenteditable="true" ng-model="note.description" ng-bind-html="note.description" class="description"
      style="width: 80%; outline: none" aria-multiline="true" contentEditable="true" id="editdescription ">

    </div>
    <hr></hr>
    <div class="modal-footer row">

      <div class="col-md-8 "></div>
      <input type="button" ng-click="editNote(note); " value="submit" class="noteenter">

      </footer>
    </div>
  </div>
</div>