<div class="container py-3">
    <div class="row">
        <div class="col-md-6 col-lg-4 mx-auto">
                <div class="card card-body">
                    <h3 class="text-center mb-4">Enter email</h3>
                  
                    <fieldset>
                        <div class="form-group has-success">
                            <input class="form-control input-lg" placeholder="EmailAddress" name="email" type="text" ng-model="user.email" id="email">
                            <div class="show"><span id="error"></span></div>
                        </div>
                       
      
                        
                        <button class="btn btn-lg btn-primary btn-block"  type="submit" ng-click="generateOtp()">Enter email for otp</button>
                        <a ui-sref='login'>Click here to login</a>
                    </fieldset>
                </div>
        </div>
    </div>
</div>