<div class="container py-3">
        <div class="row">
            <div class="col-md-6 col-lg-4 mx-auto">
                    <div class="card login card-body">
                        <h3 class="text-center mb-4">Sign-in</h3>
                      
                        <fieldset>
                            <div class="form-group has-success">
                                <input class="form-control input-lg" placeholder="Username" name="username" type="text" ng-model="user.username" id="username" value="aashishogale">
                                <div class="error"></div>
                            </div>
                            <div class="form-group has-success">
                                <input class="form-control input-lg" placeholder="Password" name="password" value="" type="password" ng-model="user.password" id="password" value="12345678">
                            <div id="error"></div>
                            </div>
                          
                            
                            
                            <button class="btn btn-lg btn-success btn-block"  type="submit" ng-click="loginUser()">Sign in</button>
                            <button class="btn btn-lg btn-info btn-block"  type="button" ng-click="facebooklogin('facebook')">Facebook</button>
                          <!--  <button class="btn btn-lg btn-danger btn-block"  type="submit" ng-click="loginGoogle()">google</button>-->

                          <div>  <a ui-sref='register'>Click here to register</a></div>
                        <div> <a ui-sref='enteremailforpassword'>forgot password</a></div>
                        </fieldset>
                    </div>
            </div>
        </div>
    </div>